@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7cc84e;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #eae3ff;
}
